/*





  |Breakpoints



*/
/* 


	|Reset

*/

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
/*


	|Basic

*/

  *, *:before, *:after {
    box-sizing: border-box;
  }

	body {
		background: #fff;
    color: #333;
  }


/*


	|Links

*/

	a,
  a:visited {
    text-decoration: none;
    outline: 0;
  }

  a {
    color: #222;
  }

  a:visited {
    color: #777;
  }

  a:hover,
  a:focus {
    color: #333;
  }

  p a,
  p a:visited {
    line-height: inherit;
  }


/*


	|Lists

*/

	ul,
  ol,
  dl {
    margin-bottom: 1.5em;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: circle;
  }

  li ul,
  li ol,
  ul ul,
  ol ol {
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  li h1,
  li h2,
  li h3,
	li h4,
  li h5,
  li h6,
	li p {
    margin-top: 0;
  }


/*


	|Images

*/

	img {
		max-width: 100%;
		height: auto;
    vertical-align: middle;
  }





/*


	|Miscs

*/

	.left {
    float: left;
  }

	.right {
    float: right;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

	.text-center {
    text-align: center;
  }




  .is-hidden {
    display: none;
  }

  .highlight {
    background: #ff0;
  }




	#googlemap img,
  object,
  embed {
    max-width: none;
  }

	#map_canvas embed {
    max-width: none;
  }

  #map_canvas img {
    max-width: none;
  }

  #map_canvas object {
    max-width: none;
  }




	.remove-bottom {
    margin-bottom: 0 !important;
  }

  .half-bottom {
    margin-bottom: 0.75em !important;
  }

  .add-bottom {
    margin-bottom: 1.5em !important;
  }




  .full-width {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

  .quarter-width {
    width: 25%;
  }

  .one-third-width {
    width: 33.333%;
  }

/*


	|Basic

*/

	body {
		font-size: 100%;
		line-height: 1.5; /*16/24*/

		font-family: "source sans pro", sans-serif;
	}

	html>body {
		font-size: 16px;
	}


/*


	|Headings

*/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: normal;
	}

	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		font-weight: inherit;
	}

	h1 {
		font-size:2em;
		line-height: 1.5;
		margin-bottom: 0.75em;
	}

	h1#site_title {
		font-family: crimson, "Crimson Text", serif;
	}

	h2 {
		font-size:1.75em;
		line-height: 1.7143;
		margin-bottom: 0.8571em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1;
		margin-bottom: 1em;
	}

	h4 {
		font-size: 1.25em;
		/*line-height: 2.425;*/
		line-height: 2.4;
	}

	h5 {
		font-weight: bold;
		margin-bottom: 1.5em;
	}

	h6 {
		font-variant: small-caps;
		margin-bottom: 1.5em;
	}



/*


	|Paragraphs

*/

	p,
	pre,
	address {
		font-size: 1em;margin-bottom: 1.5em;
	}

	p img {
		margin: 0;
	}




/*


	|Emphasis

*/

	cite,
	dfn,
	em,
	i {
		font-style: italic;
	}

	b,
	strong,
	dt,
	legend {
		font-weight: bold;
	}

	small {
		font-size: 0.75em;
	}

	del {
		text-decoration: line-through;
	}

	ins {
		color: #f00;
	}



/*


	|Form

*/

	form,
	legend,
	label {
		font-size: 1em;
	}




/*


  |Table

*/

  table caption,
  tfoot {
    font-size: 0.75em;
    line-height: 2;
  }

  thead {
    font-weight: bold;
  }



/*


  |Code

*/

	code,
	kbd,
	samp,
	pre,
	tt,
	var {
		font-family: mono-space, monospace;
	}



/*


  |Quote

*/

	blockquote,
	blockquote p {
		color: #777;
		font-style: italic;
	}

	blockquote {
		margin: 0 0 1.5px;
		padding: 0 0 0 1.5%;
		border-left: 1px solid #ddd;
	}

	blockquote cite {
		display: block;
		color: #555;
	}

	blockquote cite:before {
		content: "\2014 \0020";
	}

	blockquote cite a,
	blockquote cite a:visited,
	blockquote cite a:visited {
		color: #555;
	}



/*


  |Others

*/

	abbr,
	acronym {
		text-transform: uppercase;
		letter-spacing: .1em;
	}

	abbr[title],
	acronym[title],
	dfn[title] {
		border-bottom: 0.05em dotted black;
		cursor: help;
	}





/*


  |Breakpoints

*/
#site_header,
#site_content,
#site_footer,
.shopping-cart {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
  clear: both;
}
#site_header,
#site_content,
#site_footer {
  overflow: auto;
}
#site_header {
  padding-top: 1.5em;
}
#site_title {
  margin-bottom: 0;
}
.shopping-cart {
  position: relative;
  margin: 0 auto -1.5em;
  top: -2.25em;
  text-align: right;
  padding: 0 15px;
}
.shopping-cart-container {
  float: right;
  border-bottom: solid 2px #FFF;
  cursor: pointer;
}
.shopping-cart__product-count {
  padding-left: 0.375em;
}
.shopping-cart-product-list {
  width: 240px;
  position: absolute;
  right: 15px;
  padding: 3px 0 0;
  display: none;
  cursor: default;
}
.shopping-cart-products {
  background: #FFF;
  border: solid 0.075em #DDD;
  display: block;
  float: left;
  width: 100%;
  padding: 6px;
}
.shopping-cart-product {
  width: 100%;
  list-style-type: none;
  clear: both;
}
.shopping-cart-product__name {
  width: 60%;
  float: left;
  text-align: left;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.shopping-cart-product__quantity {
  width: 10%;
  float: left;
  padding-right: 8px;
}
.shopping-cart-product-price {
  width: 30%;
  float: left;
}
.product {
  list-style-type: none;
  margin-bottom: 1.5em;
}
.product-image {
  height: auto;
}
.product-description,
.product-price {
  text-align: center;
}
.product-name {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.25;
  width: 100%;
  margin-bottom: 0em;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-author {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  color: #888;
}
.product-detail-media {
  display: block;
  float: left;
  margin-right: 4%;
  width: 35%;
}
.product-detail-description,
.product-detail-price,
.product-detail-excerpt {
  float: left;
  width: 61%;
}
.product-detail-name {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1;
  margin: 0.75em 0 0.375em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-detail-author {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888;
  display: inline;
}
.product-detail-publication-year {
  display: inline;
  padding-left: 10px;
  color: #888;
}
.product-detail-price {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}
.product-detail-action {
  float: left;
}
.product-detail-action__add-to-cart {
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}
.product-detail-action__add-to-cart:before {
  content: "+";
  color: #777;
}
.product-detail-excerpt {
  clear: both;
  margin-top: 1.5em;
}
#site_footer {
  margin-top: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 2.25em;
  border-top: 0.075em solid #CCC;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;
}
.popup-container {
  max-width: 1024px;
  background: #FFF;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 7.5em;
  padding: 10px;
}
@media only screen and (max-width: 300px) {
  #site_header,
  #site_content,
  #site_footer {
    padding: 0 10px;
  }
  #site_header {
    padding-top: 0.75em;
    margin-bottom: 1.5em;
  }
  #site_title {
    font-size: 1.25em;
  }
  .shopping-cart {
    position: absolute;
    top: 1.5em;
    font-size: 0.75em;
  }
  .shopping-cart__product-count {
    padding-left: 4px;
  }
  .product-media {
    width: 100%;
  }
  .product-name {
    font-size: 1em;
    padding: 0 8px;
    margin-top: 0.75em;
  }
  .product-detail-media {
    width: 100%;
    text-align: center;
  }
  .product-detail-description,
  .product-detail-price,
  .product-detail-excerpt,
  .product-detail-action {
    float: left;
    width: 100%;
    text-align: center;
  }
  .product-detail-name {
    font-size: 1.25em;
  }
  #site_footer {
    padding: 0.75em 10px;
    border-top: 0.075em solid #CCC;
    text-align: center;
  }
  .popup-container {
    top: 3em;
  }
}
@media only screen and (max-width: 480px) and (min-width: 300px) {
  #site_header,
  #site_content {
    padding: 0 20px;
  }
  #site_header {
    padding-top: 1.5em;
  }
  .shopping-cart {
    position: absolute;
    right: 20px;
    top: 2.25em;
  }
  .product {
    display: block;
    width: 100%;
    clear: both;
    float: left;
  }
  .product-media {
    display: block;
    float: left;
    width: 40%;
    max-width: 140px;
    height: auto;
    margin-right: 5%;
  }
  .product-description,
  .product-price {
    width: 54%;
    float: left;
    text-align: left;
  }
  .product-name {
    margin-top: 0.75em;
    margin-bottom: 0em;
    padding: 0;
    height: 1.5em;
    font-size: 1em;
  }
  .product-author {
    font-size: 0.75em;
    letter-spacing: 1px;
  }
  .product-price {
    font-size: 1.5em;
    margin-top: 0.75em;
  }
  .product-detail-media {
    width: 100%;
    text-align: center;
  }
  .product-detail-description,
  .product-detail-price,
  .product-detail-excerpt,
  .product-detail-action {
    float: left;
    width: 100%;
    text-align: center;
  }
  .product-detail-name {
    font-size: 1.25em;
  }
  #site_footer {
    padding: 0.75em 20px;
  }
  .popup-container {
    top: 4.5em;
  }
}
@media only screen and (max-width: 640px) and (min-width: 481px) {
  .shopping-cart {
    position: relative;
    margin: 0 auto -1.5em;
    top: -2.25em;
    text-align: right;
    padding: 0 15px;
  }
  .product {
    display: block;
    width: 49%;
    margin-left: 2%;
    float: left;
  }
  .product:nth-child(2n + 1) {
    margin-left: 0;
    clear: both;
  }
  .product-name {
    font-size: 1em;
    margin-top: 0.375em;
  }
  .product-detail-media {
    width: 100%;
    text-align: center;
  }
  .product-detail-description,
  .product-detail-price,
  .product-detail-excerpt,
  .product-detail-action {
    float: left;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 960px) and (min-width: 640px) {
  .shopping-cart {
    position: relative;
    margin: 0 auto -1.5em;
    top: -2.25em;
    text-align: right;
    padding: 0 15px;
  }
  .product {
    display: block;
    width: 32.2%;
    margin-left: 1.7%;
    float: left;
  }
  .product:nth-child(3n + 1) {
    margin-left: 0;
    clear: both;
  }
  .product-name {
    font-size: 1em;
    margin-top: 0.375em;
  }
}
@media only screen and (min-width: 961px) {
  .product {
    display: block;
    float: left;
    width: 24.4%;
    margin-left: 0.8%;
  }
  .product:nth-child(4n + 1) {
    clear: both;
    margin-left: 0;
  }
  .product-name {
    margin: 0.375em 0 0;
  }
  .product-price {
    font-size: 1.25em;
    margin-top: 0.375em;
  }
}
