/*


  |One file to load them all

*/
/*


  |Colours

*/
/*


  |Typefaces

*/
/*


  |Sizes

*/
/* 


	|Reset

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*


	|Basic

*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  color: #333333;
}
/*


	|Links

*/
a,
a:visited {
  text-decoration: none;
  color: #555555;
  outline: 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:visited,
a:focus {
  color: #333333;
}
a:hover {
  color: #0099ff;
}
p a,
p a:visited {
  line-height: inherit;
}
/*


	|Lists

*/
ul,
ol,
dl {
  margin-bottom: 1.5em;
}
ol {
  list-style: decimal;
}
ul {
  list-style: circle;
}
li ul,
li ol,
ul ul,
ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5rem;
}
li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
li p {
  margin-top: 0;
}
/*


	|Images and iframes

*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
iframe {
  max-width: 100%;
  vertical-align: middle;
}
/*


	|Miscs

*/
::selection {
  background: #333;
  color: #FFF;
}
::-moz-selection {
  background: #333;
  color: #FFF;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.is-hidden {
  display: none;
}
.highlight {
  background: #ff0;
}
#googlemap img,
object,
embed {
  max-width: none;
}
#map_canvas embed {
  max-width: none;
}
#map_canvas img {
  max-width: none;
}
#map_canvas object {
  max-width: none;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 0.75em !important;
}
.add-bottom {
  margin-bottom: 1.5em !important;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.quarter-width {
  width: 25%;
}
.one-third-width {
  width: 33.333%;
}
/*


	|Basic

*/
body {
  font-size: 150%;
  line-height: 1.5;
  /*24/36*/
  -webkit-text-size-adjust: 100%;
  font-family: 'Crimson Text', "Times New Roman", serif;
  -moz-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
}
@media only screen and (max-width: 560px) {
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  body {
    font-size: 125%;
  }
}
/*


	|Headings

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: bold;
}
h4 {
  font-weight: bold;
  color: #2064a1;
}
h5,
h6 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
}
h5 {
  font-weight: bold;
}
/*


	|Paragraphs

*/
p,
address {
  font-size: 1em;
  margin-bottom: 1.5em;
}
p img {
  margin: 0;
}
p.caption {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  margin-top: -6em;
}
/*


	|Emphasis

*/
cite,
dfn,
em,
i {
  font-style: italic;
}
b,
strong,
dt,
legend {
  font-weight: bold;
}
small {
  font-size: 0.75em;
}
del {
  text-decoration: line-through;
}
ins {
  color: #f00;
}
/*


	|Form

*/
form,
legend,
label {
  font-size: 1em;
}
/*


  |Table

*/
table {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}
table caption,
tfoot {
  font-size: 0.75em;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
}
thead {
  text-transform: uppercase;
}
thead tr {
  border-bottom: dotted 0.1em #777777;
}
thead {
  margin-bottom: 0.75em;
}
th {
  padding: 0 9px 0.65em;
  text-align: left;
}
td {
  padding: 0.375em 9px;
}
th.numeric {
  text-align: center;
}
td.numeric {
  font-family: "Source Code Pro", "Courier New", "DejaVu Mono", monospace;
  text-align: right;
}
/*


  |Code

*/
code,
kbd,
samp,
pre,
tt,
var {
  font-family: "Source Code Pro", "Courier New", "DejaVu Mono", monospace;
  font-weight: 400;
}
pre,
code {
  font-size: 0.75em;
  overflow: auto;
}
pre {
  margin-bottom: 1.5em;
}
p + pre {
  margin-top: -1.5em;
}
/*


  |Quote

*/
blockquote {
  padding-left: 0.75em;
  border-left: 0.075em dotted #555555;
  position: relative;
  font-style: italic;
  margin-left: -0.75em;
}
blockquote p {
  font-size: 1em;
  position: relative;
}
q.beginning {
  margin-left: -0.25em;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}
/*


  |Others

*/
abbr,
acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
}
abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 0.05em dotted black;
  cursor: help;
}
hr {
  border: none;
  border-top: dotted 0.075em #555555;
  margin: 3em 0 1.5em;
  padding-bottom: 1.475em;
}
hr:after {
  content: "\00a7";
  color: #555555;
  display: block;
  width: 2.25em;
  margin: -0.85em auto 0;
  background: #ffffff;
  text-align: center;
}
/* 


  |Hashgrid
  
*/
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: 100%;
  /* Grid (left-aligned)
    position: absolute;
    top: 0;
    left: 0;
    */
  /* Grid (centered) */
  position: absolute;
  top: 0;
}
/**
   * Vertical grid lines
   *
   * Set the column width taking the borders into consideration,
   * and use margins to set column gutters.
   */
/*#grid div.vert.first-line{

    margin-left: 10px;
    border-width: 0 1px;

  }*/
/**
   * Horizontal grid lines, defined by your base line height
   *
   * Remember, the CSS properties that define the box model:
   * visible height = height + borders + margins + padding
   */
#grid div.horiz {
  /* 24px line height */
  height: 36px;
  border-bottom: 1px dotted #DDD;
  margin: 0;
  padding: 0;
}
/**
  * Classes for multiple grids
  *
  * When using more than one grid, remember to set the numberOfGrids 
  * option in the hashgrid.js file.
  */
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: #CCC;
}
#grid.grid-2 {
  /* Adjustments */
  padding: 0 160px;
  width: 660px;
}
#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: crimson;
}
/*


	|Globals

*/
#page-header {
  margin-bottom: 4.5em;
}
#content {
  clear: both;
}
#page-footer {
  margin: 6em 0 3em;
}
.scream {
  font-weight: bold;
}
.silence {
  color: #EAEAEA;
}
/*


  |Media Queries

*/
@media only screen and (max-width: 560px) {
  #page-footer {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  #page-footer {
    margin-top: 1.5rem;
  }
}
/* Hemisu Light */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hemisu-comment,
pre .comment,
pre .xml .doctype,
pre .html .doctype {
  color: #999999;
}
.hemisu-accent1,
pre .number,
pre .ruby .keyword {
  color: #538192;
}
.hemisu-accent2,
pre .string,
pre .regexp,
pre .xml .value,
pre .html .value {
  color: #739200;
}
.hemisu-accent3,
pre .keyword,
pre .title,
pre .constant,
pre .xml .tag,
pre .html .tag,
pre .css .rules .attribute {
  color: #ff0055;
}
.hemisu-accent4 {
  color: #503d15;
}
pre code {
  display: block;
  background: white;
  color: #111111;
  font-family: "Source Code Pro", "Courier New", "DejaVu Mono", monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
pre .xml .tag .title {
  color: #111111;
}
pre .html .tag .title {
  color: #111111;
}
/*


  |Masthead

*/
#masthead {
  width: 61.805%;
  max-width: 54rem;
  margin: 3em auto 0;
  overflow: auto;
}
#site-title {
  font-size: 1.25em;
  line-height: 1.2;
  float: left;
  margin-right: 2.25rem;
  border-bottom: solid 0.1em #555555;
  margin-bottom: 1.1em;
  -webkit-transition: border-color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
}
#site-title:hover {
  border-color: #0099ff;
}
#site-title:hover a,
#site-title a:focus {
  color: #555555;
}
#site-slogan {
  font-size: 0.75em;
  line-height: 2.15;
  margin-bottom: 0;
}
@media only screen and (max-width: 560px) {
  #masthead {
    width: 90%;
  }
  #site-slogan {
    display: none;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  #masthead {
    width: 90%;
  }
}
/*


  |Content

*/
#content header {
  width: 61.805%;
  max-width: 54rem;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1080px) {
  #content header {
    width: 90%;
  }
}
/*


  |Article

*/
.article-list li {
  list-style-type: none;
}
.article-list h2 {
  font-size: 1em;
  line-height: 1.5;
  margin: 2.25em 0 0.75em;
}
article.mini-disp h2 {
  font-size: 1.5em;
}
/*
    |Meta
  */
article .meta {
  margin-bottom: 3.75em;
  margin-top: -2.25em;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  color: #777777;
}
article.words .meta {
  margin-top: 0;
  margin-bottom: 6em;
}
.article-list article .meta {
  margin-top: -1.5em;
  margin-bottom: 3em;
}
.article-list .meta .see-full {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
article:hover .meta .see-full {
  opacity: 1;
}
/*
    |Excerpt
  */
.article-list .excerpt > a {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}
article.writings.full-disp > .excerpt {
  display: none;
}
/*
    |Display
  */
#content article {
  width: 61.805%;
  max-width: 54rem;
  margin: 0 auto;
  position: relative;
}
#content article.mini-disp {
  margin-bottom: 6em;
}
#content article.compact-disp {
  margin: 1.5em auto;
}
/*
    |Heading
  */
article h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
article h3 {
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}
article h4,
article h5,
article h6 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/*
    |Words
  */
.words blockquote {
  margin: 0;
  padding: 0;
  border: none;
}
.words blockquote p {
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
.words blockquote {
  position: relative;
}
.words blockquote:before {
  content: "“";
  position: absolute;
  font-size: 5em;
  color: #777777;
  left: -0.45em;
  top: -0.35em;
}
.words blockquote p:last-child:after {
  content: none;
}
/*
    |Link
  */
article.full-disp:hover a,
article.mini-disp:hover a {
  color: #0099ff;
}
.meta a,
.source a {
  color: #555555 !important;
}
.meta a:hover,
.source a:hover {
  color: #0099ff !important;
}
/*
    |Miscs
  */
article img,
article iframe {
  max-width: 100%;
}
article img {
  margin-bottom: 1.5em;
  text-align: center;
}
article iframe {
  margin-bottom: 3em;
}
@media only screen and (max-width: 560px) {
  #content article {
    width: 90%;
  }
  article .meta {
    margin-top: -2.7em;
    margin-bottom: 1.8em;
    font-size: 0.625em;
    line-height: 1.8;
  }
  .words blockquote:before {
    content: "“";
    position: absolute;
    font-size: 3em;
    color: #777777;
    left: -0.35em;
    top: -0.25em;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  #content article {
    width: 90%;
  }
}
/*


  |Code

*/
figure[class*="lang"] {
  margin-bottom: 1.5em;
}
figure[class*="lang"] table,
figure[class*="lang"] pre {
  width: 100%;
  border: solid 0.05em #DDD;
  display: block;
  overflow: auto;
  background: #ffffff;
}
figure[class*="lang"] pre {
  padding: 0 6px;
}
figure[class*="lang"] table pre {
  margin-bottom: 0;
}
td.gutter {
  width: 30px;
  padding: 0 4px;
  background: #ffffff;
  border-right: solid 1px #CCC;
  text-align: right;
}
td.code {
  width: 100%;
  padding: 0 6px;
  background: #ffffff;
}
/*


  |Footer

*/
#page-footer section {
  width: 61.805%;
  max-width: 54rem;
  margin: 0 auto;
  padding: 0.65em 0 0.75em;
  border-top: 0.1em solid #555555;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  overflow: auto;
}
@media only screen and (max-width: 560px) {
  #page-footer section {
    width: 90%;
    font-size: 0.75rem;
  }
  #page-footer section span {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  #page-footer section {
    width: 90%;
  }
}
/*


  |Article Navigation

*/
#article-list-pagination {
  width: 61.805%;
  max-width: 54rem;
  margin: 0 auto;
  padding-top: 1.5em;
  position: relative;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#article-pagination {
  font-size: 1.25em;
}
#article-pagination a {
  position: fixed;
  top: 50%;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#article-pagination .prev {
  left: 0.5em;
}
#article-pagination .next {
  right: 0.5em;
}
@media only screen and (max-width: 560px) {
  #article-list-pagination {
    width: 90%;
  }
  #article-pagination {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    height: 3em;
  }
  #article-pagination a {
    position: absolute;
    top: 0;
  }
  #article-pagination .prev {
    left: 0;
  }
  #article-pagination .next {
    right: 0;
  }
}
@media only screen and (min-width: 561px) and (max-width: 1080px) {
  #article-list-pagination {
    width: 90%;
  }
  #article-pagination {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 3em;
    overflow: auto;
  }
  #article-pagination a {
    position: absolute;
    top: 0;
  }
  #article-pagination .prev {
    left: 0;
  }
  #article-pagination .next {
    right: 0;
  }
}
/*


  |Footer Navigation

*/
#footer-menu {
  float: left;
}
#footer-menu ul {
  list-style-type: none;
}
#footer-menu ul li {
  display: block;
  float: left;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 560px) {
  #footer-menu {
    display: block;
    width: 100%;
    clear: both;
    float: left;
    margin-top: 0.75em;
    font-size: 0.75em;
  }
  #footer-menu ul {
    display: inline;
    float: none;
    text-align: center;
  }
  #footer-menu ul li {
    display: inline;
  }
  #footer-menu ul li {
    float: left;
    text-align: left;
    margin-left: 0;
    margin-right: 0.75em;
  }
}
