/*


  |One file to load them all

*/
/*


  |Colours

*/
/*


  |Breakpoints

*/
/*


	|Reset

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*


	|Basic

*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
/*


	|Links

*/
a,
a:visited {
  text-decoration: none;
  color: #555555;
  outline: 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  font-family: 'Source Sans Pro', sans-serif;
}
a:visited {
  color: #444444;
}
a:hover,
a:focus {
  color: #007acc;
}
p a,
p a:visited {
  line-height: inherit;
}
article a {
  color: #777777;
}
article a:hover {
  color: #007acc;
}
/*


	|Lists

*/
ul,
ol,
dl {
  margin-bottom: 1.5em;
}
ol {
  list-style: decimal;
}
ol.no-bullet {
  list-style: none;
}
ul {
  list-style: disc;
}
ul.no-bullet {
  list-style: none;
}
li ul,
li ol,
ul ul,
ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}
li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
li p {
  margin-top: 0;
}
/*


	|Images

*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*


	|Miscs

*/
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.is-hidden {
  display: none;
}
#googlemap img,
object,
embed {
  max-width: none;
}
#map_canvas embed {
  max-width: none;
}
#map_canvas img {
  max-width: none;
}
#map_canvas object {
  max-width: none;
}
/*


	|Basic

*/
body {
  font-size: 125%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
}
@media only screen and (max-width: 960px) {
  body {
    font-size: 100%;
  }
}
/*


	|Headings

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h2 {
  font-size: 1.5em;
  line-height: 1;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2;
}
h4 {
  font-weight: 600;
}
/*


	|Paragraphs

*/
p,
address {
  font-size: 1em;
  margin-bottom: 1.5em;
}
p img {
  margin: 0;
}
/*


	|Emphasis

*/
cite,
dfn,
em,
i {
  font-style: italic;
}
b,
strong,
dt,
legend {
  font-weight: bold;
}
small {
  font-size: 0.75em;
}
del {
  text-decoration: line-through;
}
ins {
  color: #f00;
}
/*


	|Form

*/
form,
legend,
label {
  font-size: 1em;
}
/*


  |Table

*/
table caption,
tfoot {
  font-size: 0.75em;
  line-height: 2;
}
thead {
  font-weight: bold;
}
/*


  |Code

*/
code,
kbd,
samp,
pre,
tt,
var {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
pre {
  font-size: 0.75em;
  margin-bottom: 1.5em;
  overflow: auto;
}
p + pre {
  margin-top: -1.5em;
}
/*


  |Quote

*/
blockquote {
  padding-left: 1.5em;
  position: relative;
  border-left: dotted 0.075em #ffffff;
  color: #555555;
}
blockquote p {
  font-size: 1em;
  position: relative;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}
/*


  |Others

*/
abbr,
acronym {
  text-transform: uppercase;
  letter-spacing: 1px;
}
abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 0.075em dotted #ffffff;
  cursor: help;
}
hr {
  border: none;
  border-top: dotted 0.075em #ffffff;
  height: 1.5em;
}
/*


  |Construct

*/
.remove-top {
  margin-top: 0 !important;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 0.75em !important;
}
.add-bottom {
  margin-bottom: 1.5em !important;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.third {
  display: block;
  float: left;
  margin-right: 5%;
  width: 30%;
}
.third:last-child {
  margin-right: 0;
}
.two-third {
  display: block;
  float: left;
  margin-right: 5%;
  width: 65%;
}
.two-third:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 960px) {
  .third {
    margin-right: 0;
    width: 100%;
    text-align: left !important;
  }
  .two-third {
    margin-right: 0;
    width: 100%;
  }
}
/*


  |Globals

*/
#page-header {
  margin-bottom: 4.5em;
  padding: 0 4%;
}
#masthead {
  overflow: auto;
  margin: 6em auto 0;
  width: 100%;
}
#site-title {
  float: left;
  font-size: 1.5em;
}
#page-content {
  padding: 0;
  width: 100%;
}
#trunk {
  overflow: auto;
  margin: 3em auto;
  padding: 0;
  width: 100%;
}
#trunk article {
  padding: 0 4%;
}
.projects,
.project {
  padding: 0 4%;
}
.project-summary {
  margin-bottom: 6em !important;
}
.project-summary .meta {
  margin-top: 0.75em;
}
.project .meta {
  padding-top: 3em;
}
article h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
article h3 {
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}
.resume-entry,
.entry {
  margin-bottom: 3em;
  overflow: auto;
  width: 70%;
}
@media only screen and (max-width: 1600px) {
  .resume-entry {
    margin-right: 0;
    width: 100%;
  }
  .entry {
    margin-right: 0;
    width: 90%;
  }
}
@media only screen and (max-width: 960px) {
  .resume-entry,
  .entry {
    margin-right: 0;
    width: 100%;
  }
  .project-summary .meta {
    float: right;
    margin-top: -1.5em;
    margin-bottom: 1.5em;
  }
  .project .meta {
    padding-top: 0;
    text-align: right !important;
    width: auto;
    float: right;
    top: 1.5em;
    position: relative;
  }
}
.period {
  position: relative;
  float: right;
  top: -2.65em;
}
#project-pagination {
  padding: 0 4%;
  overflow: auto;
  margin-top: -3em;
}
#project-pagination a {
  display: block;
  top: 45%;
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
#project-pagination a:hover {
  color: #007acc;
}
#project-pagination .next {
  float: right;
}
#project-pagination .prev {
  float: left;
}
/* Hemisu Light */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hemisu-comment,
pre .comment,
pre .xml .doctype,
pre .html .doctype {
  color: #999999;
}
.hemisu-accent1,
pre .number,
pre .ruby .keyword {
  color: #538192;
}
.hemisu-accent2,
pre .string,
pre .regexp,
pre .xml .value,
pre .html .value {
  color: #739200;
}
.hemisu-accent3,
pre .keyword,
pre .title,
pre .constant,
pre .xml .tag,
pre .html .tag,
pre .css .rules .attribute {
  color: #ff0055;
}
.hemisu-accent4 {
  color: #503d15;
}
pre code {
  display: block;
  background: white;
  color: #111111;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
pre .xml .tag .title {
  color: #111111;
}
pre .html .tag .title {
  color: #111111;
}
