/*

  Development helper stylesheets
*/
/*

  Colours
*/
/*

  Sizes
*/
/*

  Typography
*/
/*

  Transitions
*/
/*

  Mixins
*/
.width-responsive {
  width: 62%;
  max-width: 54rem;
}
@media only screen and (min-width: 561px) and (max-width: 1300px) {
  .width-responsive {
    width: 80%;
    max-width: 54rem;
  }
}
@media only screen and (max-width: 560px) {
  .width-responsive {
    width: 90%;
    max-width: 54rem;
  }
}
/**
 * Grid
 */
#hashgrid {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hashgrid-column-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  margin-left: -54rem / 2;
  width: 62%;
  max-width: 54rem;
}
@media only screen and (min-width: 561px) and (max-width: 1300px) {
  .hashgrid-column-container {
    width: 80%;
    max-width: 54rem;
  }
}
@media only screen and (max-width: 560px) {
  .hashgrid-column-container {
    width: 90%;
    max-width: 54rem;
  }
}
/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
.hashgrid__column {
  float: left;
  width: 54rem / 8;
  height: 100%;
  margin-left: 0;
  border: solid darkturquoise;
  border-width: 0 1px;
  border-left: none;
}
.hashgrid__column:first-child {
  border-left: solid 1px darkturquoise;
}
/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
.hashgrid__row {
  height: 32px;
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted darkgray;
}
@media only screen and (max-width: 560px) {
  .hashgrid__row {
    height: 2000px / 125 * 1.6;
  }
}
